---
layout: default
---

<div class="post">
    <h2 class="post-title no-toc">{{ page.title }}</h2>
    <!-- <span class="post-date">{{ page.date | date: "%-d %B %Y" }}</span> -->
    {% if page.xdate %}
        <br/>
        <center><span class="post-date">{{ page.xdate | capitalize }}</span></center>
    {% endif %}
    {% if page.abstract or page.xabstract %}
        <span class="abstract">
        <center><b>Аннотация</b></center>
        {% if page.abstract %}
            {{ page.abstract | smartify | markdownify }}
        {% else %}
            {{ page.xabstract | smartify | markdownify }}
        {% endif %}
        <hr/>
        </span>
    {% endif %}
    {% include toc.html %}
    {{ content | inject_anchors }}
</div>

{% if page.xdate %}
    <p>
    М.И.Никитин<br>
    г.Алматы, {{ page.xdate }}
    {% if page.lastedit %}
        <br>
        (последняя правка: {{ page.lastedit }})
    {% endif %}
    </p>
    <br>
{% endif %}

{% if page.tags %}
{% assign tags_count = page.tags | size %}
{% if tags_count != 0 %}
    <p>
    <small>метки-категории: <em>
        {% for tag in page.tags %}
            <a class="post" href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </em></small>
    </p>
{% endif %}
{% endif %}
{% if page.sig %}
    <p><small>[<a href="/sig/{{ page.path | split: '/' | last }}.sha256.sig">ЭЦП (SHA-256, RSA)</a>] (<a href="https://gist.github.com/Circiter/92e7b9368c1e29c055a688d12d61466c">ключ</a>)<small></p>
{% endif %}
