---
layout: default
---

<div class="post">
  <h2 class="post-title no-toc">{{ page.title }}</h2>
  <!-- <span class="post-date">{{ page.date | date: "%-d %B %Y" }}</span> -->
  {% if page.xdate %}
    <br/>
    <center><span class="post-date">{{ page.xdate | capitalize }}</span></center>
  {% endif %}
  {% if page.abstract %}
    <span class="abstract">
    <center><b>Аннотация</b></center>
    {{ page.abstract }}
    <hr/>
    </span>
  {% endif %}
  {{ content | toc_generate }}
</div>

{% if page.tags %}
    <small>метки-категории: <em>
        {% for tag in page.tags %}
            <a class="post" href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </em></small>
{% endif %}
{% if page.sig %}
    <p><small>[<a href="/sig/{{ page.path | split: '/' | last }}.sha256.sig">ЭЦП (SHA-256, RSA)</a>] (<a href="https://gist.github.com/Circiter/92e7b9368c1e29c055a688d12d61466c">ключ</a>)<small></p>
{% endif %}
