---
layout: default
title: "Сообщения с меткой \"@\" (или с синонимичной ей)"
---

<h1>{{ page.title }}</h1>

<ul>
    {% assign posts = site.blog_posts %}
    {% for post in posts %}
        {% if post.layout == "post" and post.title != null and post.test == null %}
            {% for tag in post.tags %}
                {% assign normal_post_tag = tag | normalize %}
                {% assign normal_page_tag = page.tag | normalize %}
                {% if normal_post_tag == normal_page_tag %}
                    <li><a class="post" href="{{ post.url }}">{{ post.title }}</a></li>
                    {% break %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        <li>[Нет записей]</li>
    {% endfor %}

</ul>

<br><small>
{% if page.description == null %}
    [нет описания]
{% else %}
    Краткое описание категории: {{ page.description }}
{% endif %}
{% if page.description %}
    <br>---
{% endif %}
</small>
